@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900display=swap');
body {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    background-color: #ffead9;
}

.banner {
    position:relative;
    width: 100%;
    height: 100vh;
    background: #ffead9;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

    .banner img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        object-fit: cover;
    }
    .banner .content {
      
       text-align:center;
       position:relative;
       max-width:750px;
    
    }
        .banner .content h2 {
            color: #4d6551;
            font-size: 60px;
        }
        .banner .content p {
            color: #bf882c;
            font-size: 18px;
        }
        
        
.about {
    position: relative;
    width: 100%;
    display: flex;
    
    
}

    .about .contentBx {
        background: #cad4ba;
        padding: 100px;
        width: 50%;
    }

.heading {
    
    color:#0c5b51;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.text {
    color: #4d6551;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}
.about .imgBx {
    background: url('img/Ideas give insights.gif');
    width: 50%;
    background-size: cover;
    background-position: center;
    padding:100px;
  
}
.services{
    background-position:center;
    background:#ffead9;
    padding:100px;
    text-align:center;
}
.services .container{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap:wrap;
    margin-top:60px;
   
}

.services .container .serviceBx{
    position:relative;
    background:#0c5b51;
    width:350px;
    height:400px;
    display:flex;
    justify-content:center;
    align-items:center;


}
    .services .container .serviceBx img{
        max-width:200px;
    }
    .services .container .serviceBx h2{
        font-weight:500;
        font-size:20px;
        letter-spacing:1px;
    }
  
.technology {
    background: #cad4ba;
    width: 100%;
    padding-top: 300px;
    text-align: center;
    margin-top: -300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
    .technology .contentBx {
        max-width: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
        
    }
        
    .technology .imgBx{
        max-width:50%;
    }
    .technology .imgBx img{
        max-width:100%;
    }
    .technology .contentBx h2{
        color:white;
       

    }
  
    
    .client{
        background:#f6d6ac;
        padding:100px;
        text-align:center;
    }
    .client .imgBx{
        justify-content: space-between;
        display:flex;
        align-items:center;
        flex-wrap:wrap;
        margin-top:40px;
    }
        .client .imgBx img {
            max-width:200px;
            margin:20px;
            
            cursor:pointer;

        }
        .client .imgBx img:hover {
           opacity:1;
        }

.testimonials {
    position: relative;
    padding: 100px;
    background: #cad4ba;
    text-align: center;
}
        .testimonials .container{
            display:flex;
            justify-content:space-between;
            align-items:center;
            margin-top:40px;
            flex-wrap:wrap;

        }
            .testimonials .container .contentBx {
                background: #0c5b51;
                padding: 60px 50px;
                width: 550px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: left;
            }
                .testimonials .container .contentBx p {
                    font-style: italic;
                    color: #cad4ba;
                }
                .testimonials .container .contentBx h3 {
                    width: 100%;
                    text-align: end;
                    font-weight: 500;
                    color: #cad4ba;
                }

.member .container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
    background: #f6ca91 ;
}

    .member .container .card {
        position: relative;
        width: 300px;
        height: 400px;
        background: #ffead9;
        margin: 20px;
        box-shadow: 0 15px 35px rgba(0,0,0,0.2);
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .container .card .content {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transition:0.5s;
        }
        .container .card:hover .content {
            opacity: 1;
           

        }
        .container .card .content .imgBx {
            position: relative;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            overflow: hidden;
            border: 10px;
            border: solid rgba(0,0,0,0.2);
            justify-content:center;
        }
            .container .card .content .imgBx img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        .container .card .content .contentBx h3 {
            color:#bf882c;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 500;
            font-size: 18px;
            font-size: 18px;
            text-align: center;
            margin: 20px 0 10px;
            line-height: 1.1em;
        }
             .container .card .content .contentBx h3 span {
                font-size: 12px;
                font-weight: 300;
                text-transform: initial;
            }
     .container .card .sci {
            position:absolute;
            bottom: 50px;
            display: flex;
            justify-content:center;
        }
           .container .card .sci li {
                list-style: none;
                margin: 0 10px;
                transform: translateY(40px);
                transition: 0.5s;
                opacity: 0;
                transition-delay: 0.1s var(--i);
                justify-content:center; 
            }
             .container .card .sci li {
                transform: translateY(0px);
                opacity: 1;
            }
               




    @media( max-width:991px) {
        .banner{
        padding:50px;
    }
    .banner header
    {
        padding:20px 50px;
    }
    .banner .content h2{
        font-size:36px;
    }
    .banner .content p{
        color:#4d6551;
        font-size:16px;
    }

    .about{
        flex-direction:column;
    }
    .about .contentBx,
    .about .imgBx
    {
       width:100%;
   padding:50px;
       min-height:400px;
       text-align:center;

    }
    .services {
        padding: 50px;
       
    }
        .services .container {
            justify-content: center;
            margin-top: 20px;
            
        }
      .services .container  .serviceBx{
          margin:20px;
          width:300px;
          height:350px;

      }
      .technology{
          padding:50px;
          padding-top:300px;
          justify-content:center;
          flex-direction:column;
      }
      .technology .imgBx {
          margin-top:40px;
          max-width:250px;
      }
      .client{
          padding:50px;

      }
      .client .imgBx{
          justify-content:center;

      }
      .testimonials{
          padding:50px;
          
      }
      .testimonials .contentBx{
          padding:60px 40px;
          max-width:550px;
          margin-bottom:40px;
      }
      .testimonials .contentBx:last-child
      {
          margin-bottom:0px;

      }
}